@use "variables";
@use "mixins";

html.html {
  @include mixins.rainbow-border(5px);
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  color: rgba(255, 255, 255, 0.85);
  min-height: 100vh;
  padding: 1rem;

  @media screen and (max-width: variables.$max-site-width) {
    @include mixins.rainbow-border(2px);
    background: unset;
    background-color: black;
  }
}

#stars1 {
  @media screen and (min-width: variables.$max-site-width) {
    @include mixins.stars(1px, mixins.multiple-box-shadow(700), 50s);
  }
}

#stars2 {
  @media screen and (min-width: variables.$max-site-width) {
    @include mixins.stars(2px, mixins.multiple-box-shadow(200), 100s);
  }
}

#stars3 {
  @media screen and (min-width: variables.$max-site-width) {
    @include mixins.stars(3px, mixins.multiple-box-shadow(100), 150s);
  }
}

.container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 10px solid rgba(255, 255, 255, 0.8);
  max-width: variables.$max-site-width;
  margin: 2rem auto;
  padding: 1rem 1.5rem;

  @media screen and (max-width: variables.$max-site-width) {
    background-color: unset;
    border: none;
    padding: 0;
  }
}
