@use "resets";
@use "variables";
@use "mixins";
@use "text";

.html {
  @include mixins.rainbow-border(5px);
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  color: rgba(255, 255, 255, 0.85);
  min-height: 100vh;
  padding: 1rem;

  @media screen and (max-width: variables.$max-site-width) {
    @include mixins.rainbow-border(2px);
    background: unset;
    background-color: black;
  }
}

#stars1 {
  @media screen and (min-width: variables.$max-site-width) {
    @include mixins.stars(1px, mixins.multiple-box-shadow(700), 50s);
  }
}

#stars2 {
  @media screen and (min-width: variables.$max-site-width) {
    @include mixins.stars(2px, mixins.multiple-box-shadow(200), 100s);
  }
}

#stars3 {
  @media screen and (min-width: variables.$max-site-width) {
    @include mixins.stars(3px, mixins.multiple-box-shadow(100), 150s);
  }
}

.container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 10px solid rgba(255, 255, 255, 0.8);
  max-width: variables.$max-site-width;
  margin: 2rem auto;
  padding: 1rem 1.5rem;

  @media screen and (max-width: variables.$max-site-width) {
    background-color: unset;
    border: none;
    padding: 0;
  }
}

.header {
  border-bottom: 1px dotted white;
  padding-bottom: 1rem;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1rem;
}

.main {
  font-family: system-ui, ui-sans-serif, sans-serif;
  margin: 1rem 0;
  line-height: 1.5;

  & ol {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & ul, ol {
    margin: 1rem 0;

  }

}

.heading {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.section-heading {
  border-bottom: 3px dotted white;
  width: min-content;
}

section.content {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px dotted white;
  color: white;
  padding: 1rem;

  @media screen and (max-width: variables.$max-site-width) {
    background-color: unset;
    border: 0;
    color: unset;
    padding: 0;
  }
}

section.tags {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.tags-list {
  display: flex;
  flex-wrap: wrap;
  font-family: ui-monospace, monospace;
  font-size: 0.875rem;
  list-style: none;
  padding: 0;
  gap: 1rem;
  text-transform: lowercase;
}

.footer {
  border-top: 1px dotted white;
  color: rgba(255, 255, 255, 0.8);
  font-family: ui-monospace, monospace;
  font-size: 0.75rem;
  line-height: 1.5;
  padding-top: 1rem;
}

.debug {
  border-top: 1px dotted white;
  font-size: 0.75rem;
  line-height: 1.5;
  margin-top: 1rem;
  padding-top: 1rem;
}