@use "resets";
@use "variables";
@use "mixins";

html {
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  color: white;
  padding: 1rem;

  @media screen and (max-width: variables.$max-site-width) {
    background: unset;
    background-color: black;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: ui-serif, serif;
}

a {
  color: white;

  &:hover {
    background-color: yellow;
    color: black;
    text-decoration: none;
  }
}

.rainbow-border {
  @include mixins.rainbow-border(5px);
  min-height: 100vh;

  @media screen and (max-width: variables.$max-site-width) {
    @include mixins.rainbow-border(2px);
  }
}

#stars1 {
  @media screen and (min-width: variables.$max-site-width) and (prefers-reduced-motion: no-preference) {
    @include mixins.stars(1px, mixins.multiple-box-shadow(700), 50s);
  }
}

#stars2 {
  @media screen and (min-width: variables.$max-site-width) and (prefers-reduced-motion: no-preference) {
    @include mixins.stars(2px, mixins.multiple-box-shadow(200), 100s);
  }
}

#stars3 {
  @media screen and (min-width: variables.$max-site-width) and (prefers-reduced-motion: no-preference) {
    @include mixins.stars(3px, mixins.multiple-box-shadow(100), 150s);
  }
}

.container {
  background-color: rgba(255, 255, 255, 0.1);
  border: 10px solid rgba(255, 255, 255, 0.8);
  max-width: variables.$max-site-width;
  margin: 2rem auto;
  padding: 1rem;

  @media screen and (max-width: variables.$max-site-width) {
    background-color: unset;
    border: none;
    padding: 0;
  }
}

.header {
  border-bottom: 1px dotted white;
  padding-bottom: 1rem;
}

.nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1rem;
}

.nav-list_item {

}

.main {
  font-family: system-ui, ui-sans-serif, sans-serif;
  margin: 1rem 0;
  line-height: 1.5;
}

.footer {
  border-top: 1px dotted white;
  color: rgba(255, 255, 255, 0.8);
  font-family: ui-monospace, monospace;
  line-height: 1.5;
  padding-top: 1rem;
}