{{ range .Site.Data.recipes.ingredients }}
  {{ range .items }}
    {{ $params := dict "ingredientType" .name }}
    {{ range .items }}
      {{ if . }}
        {{ $page := dict
          "kind" "term"
          "params" $params
          "path" .
          "title" .
        }}
        {{ $.AddPage $page }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
