<div class="home-container">
  {{ with resources.Get "images/animal-crossing/journals/stickers.png" }}
    <a href="/video-games/animal-crossing/pocket-camp">
      <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="planner" />
    </a>
  {{ end }}
  <div class="nookphone">
    <div class="row">
      {{ with resources.Get "images/animal-crossing/nookphone/signal.png" }}
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="symbols signal" />
      {{ end }}
      <p id="time"></p>
      {{ with resources.Get "images/animal-crossing/nookphone/location.png" }}
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" class="symbols location" />
      {{ end }}
    </div>
    <p class="link-title">New Horizons</p>
    <div class="apps">
      <div class="camera app"></div>
      <div class="nook-miles app"></div>
      <div class="critterpedia app"></div>
      <div class="diy app"></div>
      <div class="nook-shopping app"></div>
      <div class="terraform app"></div>
      <div class="patterns app"></div>
      <div class="map app"></div>
      <div class="chat app"></div>
    </div>
  </div>
</div>