@use "variables";
@use "puzzle";

$border-width: 20px;

.nav-border {
  @include puzzle.puzzle-screen($border-width, variables.$puzzle-border-color, blue);
  z-index: 0;
}

nav {
  margin-top: 1rem;
  width: 100%;
}

ul.nav-list {
  display: flex;
  font-family: Georgia, serif;
  font-variant: small-caps;
  font-size: 1.25rem;
  justify-content: space-between;
  list-style: none;
  padding: calc($border-width * 2);
  text-shadow: white 0px 0 5px;
  text-transform: capitalize;
  width: 100%;

  a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }
}
