@use "variables";

@use "puzzle";

// TODO: add cursor

body {
  position: relative;
}

.background {
  background-image: url('/video-games/the-witness/images/vertical-banners/VerticalBanners_High01.jpg');
  background-size: contain;
  filter: blur(3px);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: variables.$max-site-width;
  margin: 0 auto;
  padding: 1rem 1rem 0;
}

h1.name {
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.9);
  font-family: "Georgia", serif;
  font-variant: small-caps;
  font-weight: normal;
  font-size: 3rem;
  text-align: center;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.photo-border {
  @include puzzle.puzzle-screen(variables.$border-width, rgb(143, 150, 158));
  aspect-ratio: 1/1;
  max-height: 100vh;
}

.photo {
  margin: variables.$border-width;
  padding: 0 variables.$border-width;
  max-width: 100%;
  object-fit: contain;
  z-index: variables.$photo-z-index;
}

div.debug {
  @include puzzle.puzzle-screen(20px, rgb(143, 150, 158), blue);
  color: white;
  width: 100%;
}

section.debug {
  padding: 40px;
  text-shadow: white 0px 0 5px;
  width: 100%;
}