@use "mixins";

nav {
  @include mixins.text-background;
  padding: 1.5rem 0.5rem;
  margin-top: -0.5rem;
}

ul.nav-list {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  list-style: none;
}

.nav-icon {
  max-height: 3rem;
  max-width: 3rem;
}