@use "variables";
@use "mixins";

nav {
  @include mixins.text-background;
  padding: 1.5rem 0.5rem;
  margin-top: -0.5rem;

  @media screen and (max-width: variables.$menu-breakpoint) {
    padding: 1.5rem;
  }
}

.desktop-menu {
  @media screen and (max-width: variables.$menu-breakpoint) {
    display: none;
  }
}

details {
  & > summary {
    background-image: url('/video-games/animal-crossing/images/icons/closed-letter.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    list-style: none;
    height: 3rem;
    padding-left: 3.5rem;
    text-align: center;
  }

  &[open] > summary {
    background-image: url('/video-games/animal-crossing/images/icons/open-letter.png');
    margin-bottom: 0.5rem;
  }

  @media screen and (min-width: variables.$menu-breakpoint) {
    display: none;
  }
}

ul.nav-list {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  list-style: none;
  padding: 0;

  @media screen and (max-width: variables.$menu-breakpoint) {
    align-items: flex-start;
    flex-direction: column;
    padding-left: 3rem;
  }
}

li.nav-list_item {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.nav-icon {
  max-height: 3rem;
  max-width: 3rem;
}