@use "variables";
@use "mixins";

@use "nav";

@font-face {
  font-family: "Seurat";
  src: url("/video-games/animal-crossing/fonts/seurat.woff2") format("woff2");
}

@font-face {
  font-family: "Fink Heavy";
  src: url("/video-games/animal-crossing/fonts/fink-heavy.woff2") format("woff2")
}

.html {
  background-position: left calc(50% - 128px) top calc(70px + 3rem);
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: variables.$max-site-width;
  margin: 2rem auto;

  @media screen and (max-width: variables.$max-site-width) {
    margin-bottom: 0;
    min-height: calc(100vh - 2rem);
  }
}

.sand {
  background-color: variables.$sand;
  border-radius: 1.5rem;
  box-shadow: 0 1rem 0.5rem -0.5rem rgba(0, 0, 0, 0.5);
  background-position: top center;
  background-repeat: repeat-x;
  display: flex;
  flex-direction: column;
  font-family: "Seurat", sans-serif;
  gap: 5rem;
  max-width: variables.$max-site-width;
  padding: 0 2rem 2rem;
  width: 100%;

  @media screen and (max-width: variables.$max-site-width) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    flex-grow: 2;
    padding: 0.5rem 1rem 2rem;
  }
}

.svg-title {
  font-family: "Fink Heavy", "Georgia", sans-serif;
  font-size: 3rem;
  width: 350px;
  height: variables.$svg-height;
  fill: rgba(231, 197, 73, 1);
}

.svg-background {
  fill: rgba(231, 197, 73, 1);
  stroke: rgba(145, 107, 51, 1);
  stroke-width: 15px;
  stroke-linejoin: round;
  paint-order: stroke;
}

.svg-background-shadow {
  fill: black;
  stroke: black;
  stroke-width: 15px;
  stroke-linejoin: round;
  paint-order: stroke;
}

.svg-emboss {
  fill: rgba(231, 197, 73, 0.5);
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

img.planner {
  filter: drop-shadow(5px 5px 10px #222);
  max-height: min(50vw, 50vh);
  width: auto;
  height: auto;
  transform: rotate(5deg);
  transition: all .3s ease-in-out;

  &:hover {
    transform: rotate(0deg) scale(1.1);
    filter: drop-shadow(10px 10px 20px #222);
  }
}

.debug {
  @include mixins.text-background;
  margin: 2rem 0;
  padding: 2rem;
  width: 100%;
}
